{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <h1>Responsive Columns</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>The columns will automatically stack on top of each other when the screen is less than 576px wide.</p>
  <div class="row">

    
    {% for obj in objectList%}
    {{loop.index}}

    <div class="panel panel-primary" style="border-color:black;background-color:#FAD9B7 "> 
        <div class="row">
          <div class="col-lg-12"> 

            <!--For the image-->
            {% comment %} <div class="col-lg-2">
              <br/>
              <img src="C:\Users\Lynn Lynn Oo\Desktop\veganburg.jpg" border="" alt="MCDONALD" style="border-color: black;width:100px;height:100px">
               <br/> 
              <br/> 
            </div> {% endcomment %}

            <div class="col-lg-10" style="font-family: times, serif; font-size:14pt; font-style:italic">
              <br/>
              <div class="col-md-12">
                  <p><span class="fa fa-store"></span> &emsp; {{obj.name}}</p>           
              </div>
            </div>
           
            <div class="col-lg-10" style="font-family: times, serif; font-size:14pt; font-style:italic">
              <div class="col-md-12">
                 <p><span class="fa fa-map-marker"></span> &emsp; {{obj.adddress}}</p>            
              </div>
            </div>

             <div class="col-lg-10" style="font-family: times, serif; font-size:14pt; font-style:italic">
              <div class="col-md-12">
                   <p><span class="fa fa-clock"></span> &emsp; Open 24 hours </p>      
              </div>
              <br/>
            </div>

           
          </div>
           <br/>
        </div>
      </div>


























    
    
     {% comment %} {% if t/2==0 %}  {% endcomment %}
     <div class="col-sm-12" style="background-color:lavender;">
      {{obj.id}}<br>
      {{obj.name}}<br>
      {{obj.address}}
     </div>
{% comment %} 
     <div class="col-sm-12" style="background-color:lavenderblush;">
      {{obj.id}}
      {{obj.name}}<br>
      {{obj.address}}
     </div> {% endcomment %}

        
    {% endfor %}

    <div class="col-sm-12" style="background-color:lavender;">.col-sm-3</div>
    <div class="col-sm-12" style="background-color:lavenderblush;">.col-sm-3</div>
  </div>
</div>

{% endblock %}